@model Radsurge.MVC.Models.SearchResults

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Radsurge Results</title>
    <link rel="stylesheet" href='@Url.Content("~/Content/Styles/searchresults.css")'>

</head>
<body>
    
    <div class="results-search">
        <img src='@Url.Content("~/Content/Images/logo.png")' class="logo" alt="Radsurge" width="150" style="float:left"/>
        @using (Html.BeginForm("index", "search", FormMethod.Post, new { @class = "form-wrapper" }))
        {
            @Html.TextBoxFor(model => model.SearchTerm)
            <button type="submit"></button>
        }        
    </div>

    <div class="results-content">
        <div class="container game">
            <img src='@Url.Content("~/Content/Images/Results/Kimiko.jpg")' class="gpic"/>
        </div>        
        <div class="container ad">
            <img src='@Url.Content("~/Content/Images/Results/Dipped.jpg")' class="adpic" />
        </div>
    </div>

</body>
</html>
