<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@ViewBag.Title</title>
		<link rel="stylesheet" href='@Url.Content("~/Content/Styles/pagetemplate.css")'>        
	</head>
	<body>
		<div class="header">
			<div class="container">
                <a href='../'><img src='@Url.Content("~/Content/Images/logo.png")' alt="Radsurge" width="150"/></a>
            </div>
		</div>
		<div class="content">
			<div class="container">
				<div class="main">
                    @RenderBody()
                </div>
				<div class="aside">
                    @RenderSection("Sidebar")
                </div>
			</div>
		</div>
		<div class="footer">
			<div class="container" style="text-align:center;">
				<small>Copyright &copy; Radsurge 2015</small>
			</div>
		</div>
        @RenderSection("Scripts", required: false)
	</body>
</html>