@model Radsurge.MVC.Models.RegisterModels
@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_Radsurge.cshtml";
}

@section Sidebar{

}

<link rel="stylesheet" href='@Url.Content("~/Content/Styles/bootstrap.misc.css")'>
<link rel="stylesheet" href='@Url.Content("~/Content/Styles/bootstrap.min.css")'>
<script type="text/javascript" src='@Url.Content("~/Scripts/jquery-1.7.1.js")'></script>

<style>
.main{width: 95%;}
</style>

<div class="container">
    @using (Html.BeginForm("SignUp", "Register", FormMethod.Post, new { id = "signupform" })){
        @Html.AntiForgeryToken()
               
        <h4>Sign up</h4>        
        
        <p class="help-block">
            Please select your role below along with your sign-up details.<br />
            @Html.ValidationMessageFor(m => m.Role)
        </p>

        <div class="row form-group product-chooser">
    
    	    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="max-width:200px;">
    		    <div class="product-chooser-item" id="devDiv">
    			    <img src="https://placeholdit.imgix.net/~text?txtsize=30&txt=I%20develop%20mobile/web%20applications&w=200&h=200" class="img-rounded" style="max-width:100%;" alt="Developer">
                    @Html.RadioButtonFor(m => m.Role, 0, new {@id="devRad"})
    			    <div class="clear"></div>
    		    </div>
    	    </div>
    	
    	    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="max-width:200px;">
    		    <div class="product-chooser-item" id="merDiv">
    			    <img src="https://placeholdit.imgix.net/~text?txtsize=30&txt=I%20am%20a%20small%20business/merchant&w=200&h=200" class="img-rounded" style="max-width:100%;" alt="Merchant">
                    @Html.RadioButtonFor(m => m.Role, 1, new { @id = "merRad" })
    			    <div class="clear"></div>
    		    </div>
    	    </div>      
    	
        </div>
        
        <fieldset>
            <div class="control-group">
                <!-- Username -->
                <label class="control-label" for="username">
                    Username
                </label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.UserName, new {@class="input-xlarge"})
                    @Html.ValidationMessageFor(m => m.UserName)
                    <p class="help-block">
                        Username can contain any letters or numbers, without spaces</p>
                </div>
            </div>
            <div class="control-group">
                <!-- Username -->
                <label class="control-label" for="company">
                    Company</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Company, new {@class="input-xlarge"})
                    @Html.ValidationMessageFor(m => m.Company)
                    <p class="help-block">
                        Company can contain any letters or numbers</p>
                </div>
            </div>
            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="email">
                    E-mail</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Email, new {@class="input-xlarge"})
                    @Html.ValidationMessageFor(m => m.Email)
                    <p class="help-block">
                        Please provide your E-mail</p>
                </div>
            </div>
            <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">
                    Password</label>
                <div class="controls">
                    @Html.PasswordFor(m => m.Password, new { @class = "input-xlarge" })
                    @Html.ValidationMessageFor(m => m.Password)
                    <p class="help-block">
                        Password should be at least 6 characters</p>
                </div>
            </div>
            <div class="control-group">
                <!-- Password -->
                <label class="control-label" for="password_confirm">
                    Confirm</label>
                <div class="controls">
                    @Html.PasswordFor(m => m.Confirm, new { @class = "input-xlarge" })
                    @Html.ValidationMessageFor(m => m.Confirm)
                    <p class="help-block">
                        Please confirm password</p>
                </div>
            </div>
            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button id="registerButton" class="btn btn-success">Register</button>
                </div>
            </div>
        </fieldset>
    }
</div>

@section Scripts{
<script type="text/javascript">
    $(function () {
        $('div.product-chooser').not('.disabled').find('div.product-chooser-item').on('click', function () {
            $(this).parent().parent().find('div.product-chooser-item').removeClass('selected');
            $(this).addClass('selected');
            $(this).find('input[type="radio"]').prop("checked", true);
        });

        if ($('#merRad').is(':checked')) { $('#merDiv').addClass('selected'); }
        else if ($('#devRad').is(':checked')) { $('#devDiv').addClass('selected'); };
    });
</script>
}